<div id="modalExcluir" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">Confirma a Exclusão ?</h4>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <p>{{ textoModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="excluir()">Excluir</button>
      </div>
    </div>
  </div>
</div>